<!-- Contains top part of layout + link to stylesheets etc. -->

<!DOCTYPE html>
<html>
<head>
	<title>Barcelona Code School</title>
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/bootstrap.min">
</head>
<body>

<h1></h1>