<% include partials/header %>
<h2>Cart page</h2>



<form>
  method: <input type="text" name="fname" value="" id="first"><br>
  eventName: <input type="text" name="lname" value="" id="second"><br>
  eventPrice: <input type="text" name="lname" value="" id="third"><br><br>
  <input type="button" onclick="runnin(name, price)" value="Submit form">
</form>
<br>
<!-- <span id="display"></span>
<br><br>
<span id="db"></span> -->
<br><br>
<br><br>
<div>
	<strong>
		methods:<br>
		&emsp; getOne- arg1:item's key<br>
		&emsp; getAll- <br>
		&emsp; update- arg1:item's key,  arg2:new value<br>
		&emsp; post- arg1:new key, arg2:new value<br>
		&emsp; remove- key
	</strong>
</div>


<div class="row">
	<div class="col-md-12" id="eventsList">
	</div>
</div>


<div class="row">
	<div class="col-md-12">
		<div class="thumbnail pull-right">
			<form class="form-inline">
				<div class="form-group">
				<input type="text" class="form-control" id="couponCode" placeholder="Coupon code">
				</div>
				<button type="submit" class="btn btn-default">Apply coupon</button>
			</form>
		</div>
	</div>
</div>

<div class="row">
		<div class="col-md-6 pull-right">
			<div class="thumbnail">
				<h3>Cart totals: </h3>
					<table class="table table-striped">
						<tr>
							<td><h4>Subtotal</h4></td>
							<td><h4>€<span id="cartTot"> 0 </span></h4></td>
						</tr>
						<tr>
							<td><h4>Total (IVA 21% incl.)</h4></td>
							<td><h4>€<span id="Total">0</span></h4></td>
						</tr>
					</table>
			</div>
		</div>
</div>

<div class="row">
		<div class="col-md-6 pull-right">
			<div class="thumbnail">
				<a class="btn btn-default btn-group-justified" onclick = "checkout(event)" >Proceed to the checkout</a>
			</div>
		</div>
</div>

<script type='text/javascript'><%- include('../lib/bundle.js')-%></script>

<script type='text/javascript'>
	var name = "<%= event.name %>"
	var price = "<%= event.price %>"
	console.log("--name on the cart page--", name, "--price on the cart page--", price)
	// $( document ).ready(function() {
	// 	debugger
	//   sum = 0 
	//   $(".price").each((i, ele)=>{
	//   sum += parseInt($(ele).text())
	//   })
	//   $("#cartTot").text(sum)
	//   $("#Total").text((sum+sum*0.21).toFixed(2))
	// })
	function checkout(event) {
		event.preventDefault()
		document.location.href = "/checkout/" + $("#Total").text() // javascript function to change location
	}
	window.onload = runnin(name, price)
</script>

<% include partials/footer %>


